- @hot_articles.each do |article|
  .side-single.radius-box-shadow
    .inner-blk.side-hot-deals
      %ul
        %li.deal
          =link_to image_tag(article.thumb, :width=>article.thumb_width, :height=>article.thumb_height, :title=>article.title, :class=>"lazyloaded"), article_path(article), {:class=>"pic", :rel=>"nofollow", :target=>"_blank"}
          %h4
            = link_to article.title, article_path(article), { :target => "_blank" }

