#article-index
  %ul.articleIndexWrap
    - @articles.each do |article|
      %li.radius-box-shadow
        = link_to image_tag( article.thumb, :title => article.title, :alt => article.title, :width=>"200", :height=>article.thumb_height>300 ? 300:article.thumb_height ), article_path(article), { :target => "_blank" }
        %h4= link_to article.title, article_path(article), { :target => "_blank" }

  .page-nav-wrapper
    = paginate @articles

-#
  #sidebar-taobao
    .side-single.radius-box-shadow
      <script type="text/javascript">
      alimama_pid="mm_41432167_3506732_11485413";
      alimama_width=160;
      alimama_height=600;
      </script>
      <script src="http://a.alimama.cn/inf.js" type="text/javascript"></script>
