- if @user.errors.any?
  .sysmsgw#sysmsg-error.radius-box-shadow
    .sysmsg
      = t('.messages_head')
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= "* #{msg}"
      %span.close= t('.close')

