.dashboard
  %ul
    %li{:class => (controller_name == "coupons" ? "current" : nil)}
      = link_to t('.my_coupons'), coupons_path
      %span

    %li{:class => (controller_name == "users" ? "current" : nil)}
      = link_to t('.my_account'), user_path(current_user)
      %span

