.dashboard
  %ul
    %li{:class => (controller_name == "coupons" ? "current" : nil)}
      = link_to t('.my_coupons'), coupons_path
      %span

    %li{:class => ((controller_name == "profiles" or controller_name == "registrations") ? "current" : nil)}
      = link_to t('.my_account'), profile_path(current_user)
      %span

