/ 必须在函数调用之前引用
=render "couponmap"

#filter
  #couponmap-title
    %h3= t('.map_title')
  #couponmap
  = javascript_include_tag "http://api.map.baidu.com/api?v=1.3"
  :javascript
    showCouponMap();

