- provide(:title, t('.title'))
#content.pg-login
  .mainbox.radius-box-shadow
    %h3= t('.title') 
    %p 联系人：蒋小姐
    %p 移动电话：15944279050
    %p 固定电话：0432-64822789
    %p 电子邮箱：jilinmei@gmail.com
    %br
    %br

