- provide(:title, "验证优惠券")
#content.pg-login
  .mainbox
    %h2 验证优惠券
    .signup-section
      = form_tag update_coupon_companies_path, :method=>"post" do |f|
        .field-group
          = label_tag :couponcode, "请输入优惠券密码"
          = text_field_tag :couponcode, nil, :class=>"f-text"
        .field-group
          = submit_tag "验证", :class=>"form-button"

