%h2
  - case action_name 
  - when "index"
    全部分类
  - when "new"
    新增分类
  - when "edit"
    编辑分类
%uj.filter
  %li{:class => (action_name == "index" ? "current" : nil)}
    = link_to "全部分类", admin_categories_path
  %li{:class => (action_name == "new" ? "current" : nil)}
    = link_to "新增分类", new_admin_category_path

