#content.coupons-box
  #content-admin
    = render "dashboard"
    .mainbox.mine
      %h2 编辑商品
      %uj.filter
        %li
          = link_to "全部商品", admin_products_path
        %li
          = link_to "新增商品", new_admin_product_path
      -# 添加view内容
      = render :partial => "form", :locals => { :form_type => "edit"}

#sidebar

