@charset "utf-8";
.couponContentWrap{
    width:890px;
    background: #fff;
    padding: 20px;
}
.couponInfoLSide .infoImgSilde{
    width:195px;
    height: 146px;
    overflow-y: hidden;
}
.couponInfoWrap .couponInfoRSide{
    margin-left: 20px;
    width:600px;
    font-size: 14px;
    color: #333;
}
.couponInfoWrap .listCol{
    line-height: 32px;
}
.couponInfoWrap .listCol label{
    width:70px;
    text-align: right;
    padding-right: 10px;
}
.couponInfoWrap .listCol .fRSide{
    width:500px;
}
.couponInfoWrap .listCol .couponNum{
    color:#c00;
    font-size: 24px;
    font-weight: bold;
    font-family: '微软雅黑';
    display: inline-block;
}
.couponInfoWrap .title{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: '微软雅黑';
}
.couponInfoWrap .title a {
	display:block;
    color: #ff3300;
}
.couponInfoWrap .title a:hover {
	color:#399;
	text-decoration:none
}
.couponInfoWrap .button {
	float:left;
	margin-top:6px;
	width:83px;
	height:33px;
	line-height:99px;
	overflow:hidden;
	background:url("/assets/sp-deal.png?v=3") no-repeat
}
.couponInfoWrap .button:hover {
	background-position:0 -35px
}

/* from map */
#mapbox {
    width: 208px;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #CDCDCD;
}
#couponmap {
    width: 930px;
    height: 350px;
    margin: 14px;
    border: 1px solid #CDCDCD;
}
#couponmap-title {
    border-bottom: 1px solid #CDCDCD;
    color: #333333;
    height: 26px;
}
#couponmap-title h3{
    margin-top: 8px;
    margin-left: 12px;
    color: #666;
    font-size: 16px;
}

/* from dldGlobal.css */
.clearfix:before, .clearfix:after {  
content:"";  
display:table;  
}  
.clearfix:after {  
clear:both;  
}  
.clearfix {  
zoom:1;  
} 
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}

