@charset "utf-8";
#discountBox {
	  clear:both;
    border:1px solid #D4D4D4;
	  background:#fff;
	  margin-bottom:10px;
}
.discountContentWrap{
    width:640px;
    background: #fff;
	  padding:30px 25px 30px 25px;
    margin: 0 5px 0 5px;
}
.discountContentWrap .globalTitle{
    border-bottom: 1px dashed #ccc;
    text-align: center;
    padding-bottom: 20px;
}
.discountContentWrap .globalTitle .title{
    font-size: 24px;
    font-weight: bold;
    font-family: '微软雅黑';
    color: #ff3300;
}
.discountInfoWrap{
    margin-top: 25px;
}
.discountInfoLSide .infoImgSilde{
    width: 260px;
    height: 195px;
    text-align: center;
    overflow-y: hidden;
}
.discountInfoRSide .sendMobileButton a {
	  float:left;
	  width:106px;
	  height:40px;
	  text-indent:-9999px;
	  outline:0;
    background: url("/assets/send_to_mobile.png?v=1") no-repeat scroll 0 -83px transparent;
}
.discountInfoRSide .sendMobileButton a:hover {
	background-position:0 -123px
}
.discountInfoWrap .discountInfoRSide{
    margin-left: 20px;
    width:360px;
    font-size: 14px;
    color: #333;
}
.discountInfoWrap .listCol{
    line-height: 32px;
}
.discountInfoWrap .listCol label{
    width:70px;
    text-align: right;
    padding-right: 10px;
}
/* for dicount type use in index and show */
.listCol .fRSide{
    width:280px;
}
.listCol .discountName{
    color:#c00;
    font-size: 16px;
    font-weight: bold;
    font-family: '微软雅黑';
    display: inline-block;
}
.listCol .discountNum{
    color:#c00;
    font-size: 20px;
    font-weight: bold;
    font-family: '微软雅黑';
    display: inline-block;
}
.listCol .discountWord{
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    font-family: '微软雅黑';
    display: inline-block;
}
/* end */
.discountDetailsInfo{
    margin-top: 15px;
    margin-bottom: 35px;
    line-height: 24px;
    color: #666;
    line-height: 24px;
}
.discountDetailsInfo h2.title{
    color:#666;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}
.discountDetailsInfo img{
    max-width: 648px;
}
.discountDetailsBottom{
    background-color: #F5F4F4;
    border: 1px solid #EEECEC;
    clear: both;
    padding: 30px 55px 70px 55px;
}
.discountDetailsBottom ul {
	  float:left;
}
.discountDetailsBottom .sendMobileButton a {
	  float:right;
	  width:106px;
	  height:40px;
	  text-indent:-9999px;
	  outline:0;
    background: url("/assets/send_to_mobile.png?v=1") no-repeat scroll 0 -83px transparent;
}
.discountDetailsBottom .sendMobileButton a:hover {
	background-position:0 -123px
}

/* from map */
#mapbox {
    width: 208px;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #CDCDCD;
}

/* from dldGlobal.css */
.clearfix:before, .clearfix:after {  
content:"";  
display:table;  
}  
.clearfix:after {  
clear:both;  
}  
.clearfix {  
zoom:1;  
} 
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
