@charset "utf-8";
.discountContentWrap{
    width:650px;
    background: #fff;
    padding: 15px;
}
.discountContentWrap .globalTitle{
    border-bottom: 1px dashed #ccc;
    text-align: center;
    padding-bottom: 20px;
}
.discountContentWrap .globalTitle .title{
    font-size: 24px;
    font-weight: bold;
    font-family: '微软雅黑';
    color: #ff3300;
}
.discountInfoWrap{
    margin-top: 25px;
}
.discountInfoLSide .infoImgSilde{
    height: 195px;
    overflow-y: hidden;
    width:260px;
}
.discountInfoRSide .button a {
	  float:left;
	  width:106px;
	  height:40px;
	  text-indent:-9999px;
	  outline:0;
    background: url("/assets/send_to_mobile.png?v=1") no-repeat scroll 0 -83px transparent;
}
.discountInfoRSide .button a:hover {
	background-position:0 -123px
}
.discountInfoWrap .discountInfoRSide{
    margin-left: 20px;
    width:368px;
    font-size: 14px;
    color: #333;
}
.discountInfoWrap .listCol{
    line-height: 32px;
}
.discountInfoWrap .listCol label{
    width:70px;
    text-align: right;
    padding-right: 10px;
}
/* for dicount type use in index and show */
.listCol .fRSide{
    width:280px;
}
.listCol .discountName{
    color:#c00;
    font-size: 16px;
    font-weight: bold;
    font-family: '微软雅黑';
    display: inline-block;
}
.listCol .discountNum{
    color:#c00;
    font-size: 20px;
    font-weight: bold;
    font-family: '微软雅黑';
    display: inline-block;
}
.listCol .discountWord{
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    font-family: '微软雅黑';
    display: inline-block;
}
/* end */
.discountDetailsInfo{
    margin-top: 15px;
    margin-bottom: 35px;
    line-height: 24px;
    color: #666;
    line-height: 24px;
}
.discountDetailsInfo h2.title{
    color:#666;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}
.discountDetailsInfo img{
    max-width: 648px;
    margin:22px 0;
}

/* from map */
#mapbox {
    width: 208px;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #CDCDCD;
}
#couponmap {
    width: 930px;
    height: 350px;
    margin: 14px;border: 1px solid #CDCDCD;
}

/* from dldGlobal.css */
.clearfix:before, .clearfix:after {  
content:"";  
display:table;  
}  
.clearfix:after {  
clear:both;  
}  
.clearfix {  
zoom:1;  
} 
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
