@charset "utf-8";
.discountContentWrap{
    width:650px;
    background: #fff;
    padding: 15px;
}
.discountContentWrap .globalTitle{
    border-bottom: 1px dashed #ccc;
    text-align: center;
    padding-bottom: 20px;
}
.discountContentWrap .globalTitle .title{
    font-size: 24px;
    font-weight: bold;
    font-family: '微软雅黑';
    color: #ff3300;
}
.discountInfoWrap{
    margin-top: 25px;
}
.discountInfoLSide .infoImgSilde{
    height: 195px;
    overflow-y: hidden;
    width:260px;
}
.discountInfoWrap .discountInfoLSide .slides_wrap{
    position: relative;
    width:260px;
}
.discountInfoWrap .discountInfoLSide .prev,.discountInfoLSide .next{
    display: block;
    height: 36px;
    width: 20px;
    position: absolute;
    top:85px;
    z-index: 1111;
}
.discountInfoWrap .discountInfoLSide .prev{
    background-position: -216px -34px;
    left: 3px;
}
.discountInfoWrap .discountInfoLSide .next{
    background-position: -237px -34px;
    right: 3px;
}
.discountInfoWrap .pageWrap{
    margin-top: 5px;
    text-align: center;
}
.discountInfoWrap .pageWrap .num{
    background: url(../../../images/0616/images/discountHover.gif) no-repeat right top;
    width:6px;
    height: 6px;
    margin-right: 5px;
    display: inline-block;
    overflow: hidden;
}
.discountInfoWrap .pageWrap .hover{
    background-position: left top;
}
.discountInfoWrap .discountInfoRSide{
    margin-left: 20px;
    width:368px;
    font-size: 14px;
    color: #333;
}
.discountInfoWrap .listCol{
    line-height: 32px;
}
.discountInfoWrap .listCol1{
    margin-top: 15px;
}
.discountInfoWrap .listCol label{
    width:70px;
    text-align: right;
    padding-right: 10px;
}
.discountInfoWrap .listCol .fRSide{
    width:280px;
}
.discountInfoWrap .listCol .discountNum{
    color:#c00;
    font-size: 24px;
    font-weight: bold;
    font-family: '微软雅黑';
    display: inline-block;
}
.discountDetailsInfo{
    margin-top: 35px;
    margin-bottom: 35px;
    line-height: 24px;
    color: #666;
}
.discountDetailsInfo p{
    color: #666;
    line-height: 24px;
    /*text-indent: 30px;*/
}
.discountDetailsInfo h2.title{
    color:#666;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
}
.discountDetailsInfo img{
    max-width: 648px;
    margin:22px 0;
}

/* from map */
#mapbox {
    width: 208px;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #CDCDCD;
}
#couponmap {
    width: 930px;
    height: 350px;
    margin: 14px;border: 1px solid #CDCDCD;
}

/* from dldGlobal.css */
.clearfix:before, .clearfix:after {  
content:"";  
display:table;  
}  
.clearfix:after {  
clear:both;  
}  
.clearfix {  
zoom:1;  
} 
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
