/* copy from bootstrap and modify somthing */

.bjqs-caption {
  background: rgba(0,0,0,0.5);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.bjqs-prev a,
.bjqs-next a {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
	text-decoration: none;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.bjqs-next a {
  right: 15px;
  left: auto;
}

.bjqs-prev a:hover,
.bjqs-prev a:focus,
.bjqs-next a:hover,
.bjqs-next a:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
