#filter
  .filter-section.type
    %span.label 分类：
    %ul
      %li.current= link_to "全部", "/"
      %li 
        %a{:href => "category/new"}
          今日新单
          %span> (30)
      %li 
        %a{:href => "category/meishi"}
          美食
          %span> (30)
      %li 
        %a{:href => "category/yule"}
          娱乐
          %span> (30)
      %li 
        %a{:href => "category/dianying"}
          电影
          %span> (30)
      %li 
        %a{:href => "category/jiudian"}
          酒店
          %span> (30)
  .filter-section
    %span.label 区域：
    %ul
      %li.current= link_to "全部", "/"
      %li 
        %a{:href => "category/all/chaoyangqu"}
          朝阳区
          %span> (30)
      %li 
        %a{:href => "category/all/haidianqu"}
          海淀区
          %span> (30)
      %li 
        %a{:href => "category/all/xichengqu"}
          西城区
          %span> (30)

