%h2
  - case action_name 
  - when "index"
    全部用户
  - when "new"
    新增用户
  - when "create"
    新增用户
  - when "edit"
    编辑用户
  - when "update"
    编辑用户
%uj.filter
  %li{:class => (action_name == "index" ? "current" : nil)}
    = link_to "全部用户", admin_users_path
  %li{:class => ((action_name == "new" or action_name == "create") ? "current" : nil)}
    = link_to "新增用户", new_admin_user_path

