- @hot_products.each do |product|
  .side-single.radius-box-shadow
    .inner-blk.side-hot-deals
      %ul
        %li.deal
          =link_to image_tag(product.image_url(:small), :width=>"208", :height=>"125", :title=>product.title, :class=>"lazyloaded"), product_path(product), {:class=>"pic", :rel=>"nofollow", :target=>"_blank"}
          %h4
            = link_to product.title, product_path(product), { :target => "_blank" }
          .info
            = render "discount_type", :product => product

