#filter
  #deal-intro.cf
    .clearfix
      - (0..3).each do ||
        .couponContentWrap
          .couponInfoWrap.clearfix
            .couponInfoLSide.floatLeft
              %ul.infoImgSilde
                %li
                  %a{:href=>"#"}
                    %img.img{:src=>"/assets/coffee.jpg", :height=>"195", :width=>"260"}
            .couponInfoRSide.floatLeft
              .globalTitle
                %h1.title 上岛咖啡，单点消费享全场9折
              %ul
                %li.listCol
                  %label.floatLeft 打折时间：
                  .floatLeft.fRSide
                    %span 2012年11月17日至2013年01月13日 
                %li.listCol.clearfix
                  %label.floatLeft 折扣范围：
                  .floatLeft.fRSide
                    %span.couponNum 9.0
                    折
                %li.listCol.clearfix
                  %label.floatLeft 地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：
                  .floatLeft.fRSide
                    %span 北京市海淀区中关村南大街12号东方天作商城1楼北区
                %li.listCol.clearfix
                  %label.floatLeft 电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：
                  .floatLeft.fRSide
                    %span 82101245
                %li.listCol.clearfix
                  %a{:href=>"#"}
                    %img.img{:src=>"/assets/shop_now_c.jpg", :height=>"44", :width=>"130"}

