- provide(:title, t('.title'))
%div#carousel-show.radius-box-shadow
  - @carousel_products.each do |product|
    = link_to image_tag(product.image, :title=>product.shop_name, :alt=>product.title, :width=>100, :class=>"cloudcarousel"), product_path(product), { :target => "_blank" }
  #da-vinci-title
  #da-vinci-alt
  #left-button.carouselLeft
  #right-button.carouselRight
.block-title
  %h3= t('.products_title')
= render "filters/home_filter"
= render "index"
#sidebar

